{% extends "inventory/base.html" %}

{% block content %}

<h2>История отгрузок</h2>

{% for reserv in reservations %}
    <div class="card mb-3">
        <div class="card-header">
            <h5>{{ reserv.client }} — {{ reserv.created_at|date:"d.m.Y" }}</h5>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Товар</th>
                        <th>Количество</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in reserv.reservationitem_set.all %}
                    <tr>
                        <td>{{ item.product }}</td>
                        <td>{{ item.quantity }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endfor %}
{% endblock %}