{% extends "inventory/base.html" %}

{% block content %}

<h2>История отгрузок</h2>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Дата отгрузки</th>
            <th>Клиент</th>
            <th>Товар</th>
            <th>Количество</th>
        </tr>
    </thead>
    <tbody>
        {% for reserv in reservations %}
            {% for item in reserv.reservationitem_set.all %}
            <tr>
                <td>{{ reserv.date_of_shipment }}</td>
                <td>{{ reserv.client }}</td>
                <td>{{ item.product }}</td>
                <td>{{ item.quantity }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}